{% extends "index.html" %}

{% load tz %}

{% block title %}
  Time
{% endblock title %}

{% block content %}

  {% get_current_timezone as TIME_ZONE %}

  <form action="{% url 'set_timezone' %}" method="POST">

      {% csrf_token %}

      <label for="timezone">Time zone:</label>

      <select name="timezone">
          {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
          {% endfor %}
      </select>

      <input type="submit" value="Set">
  </form>

    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }}

{% endblock content %}